<div class="comments">
	<% if @comments && @comments != [] %>
		<% @comments.each do |comment| %>
			<br>
			<h4><%= comment.user.username %></h4>
			<p><%= comment.body %></p>
			<% if @user == comment.user || @user&.is_admin %>
				<a href=<%= "/comments/#{comment.id}/edit" %>>Edit</a>
				<a href=<%= "/comments/#{comment.id}/delete" %>>Delete</a>
			<% end %>
		<% end %>
	<% else %>
		<h3>Nothing here!</h3>
	<% end %>
</div>