<div class="posts">
	<h2>Posts:</h2>
	<% if @posts && @posts != [] %>
		<% @posts.each do |post| %>
			<a href=<%= "/posts/#{post.id}" %>>
				<h3><%= post.title %></h3>
				<h4><%= post.user.username %></h4>
				<p><%= post.body[0..100] %>...</p>
			</a>
		<% end %>
	<% else %>
		<h3>Nothing here!</h3>
	<% end %>
</div>