<h1>Sign Up!</h1>
<form method="POST" action="/users">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username">

	<label for="email_address">Email:</label>
	<input type="email" name="email_address" id="email_address">

	<label for="password">Password:</label>
	<input type="password" name="password" id="password">

	<label for="is_admin">I am an admin:</label>
	<input type="checkbox" name="is_admin" id="is_admin">

	<input type="submit" name="submit">
</form>