<h1><%= "Are you sure you want to delete #{@post.title} by #{@post.user.username}, #{@user.username}?" %></h1>
<form method="POST" action=<%= "/post/#{@post.id}" %>>
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" name="delete" value="delete">
</form>