<div class="posts">
	<h2>Posts:</h2>
	<% if @user.posts != [] %>
		<% @user.posts.reverse_each do |post| %>
			<a href=<%= "/posts/#{post.id}" %>>
				<h3><%= post.title %></h3>
				<p><%= post.body[0..100] %></p>
			</a>
		<% end %>
	<% else %>
		<p>Nothing here!</p>
	<% end %>
</div>